@font-face {
font-family: 'NoeDisplay';
src: url(../fonts/noe-display-regular.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'NoeDisplay';
src: url(../fonts/noe-display-bold.ttf) format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'NoeDisplay';
src: url(../fonts/noe-display-regular-italic.ttf) format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'NoeDisplay';
src: url(../fonts/noe-display-bold-italic.ttf) format('truetype');
font-weight: bold;
font-style: italic;
}

html, body, div, span, applet, object, iframe,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
  cursor: crosshair;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
	height: auto;
  position: fixed;
	width: 100%;
	line-height: 1;
	color: #101010;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}
html::-webkit-scrollbar, body::-webkit-scrollbar { width: 0 !important }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section {
  height: 100vh;
  position: relative;
  width: 100vw;
	/* overflow: hidden; */
	display: flex;
	justify-content: center;
}
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.particle-box {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.link-container {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 64px;
  z-index: 2;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}
.logo {
  display: block;
  font-family: 'NoeDisplay', serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #101010;
}
.main-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-nav ul li a {
  text-decoration: none;
  color: #101010;
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  font-size: 14px;
  letter-spacing: 0.5em;
  padding: 0 25px;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact-test {
  display: flex;
  flex-direction: column;
}
#brush {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.85;
}
.contact-grid {
  margin-top: 5%;
  z-index: 3;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
}
.resume-container {
  padding: 25%;
}
#resume {
  font-family: Noe Display;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}
#resume:hover {
  color: grey;
  transition: all 0.2s ease;
}
#feel-free {
  grid-column: 2 / span 2;
  text-align: right;
  font-family: Noe Display;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 76.1%;
  padding-right: 10%;
  margin-top: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
  z-index: 5;
}
.contacts div {
  margin: 20px 0;
}
.email h4, .networks h4 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 76.1%;
  letter-spacing: 0.25em;
  color: #717171;
}
.email p {
  font-family: Noe Display;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 76.1%;
  color: #000000;
  margin-top: 2%;
}
.networks ul li a {
  text-decoration: none;
  font-family: Noe Display;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 76.1%;
  color: #000000;
}
.networks ul {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}
.networks ul li {
  padding-right: 3%;
  transition: all 0.4s ease;
}
.networks ul li:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
